.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    border: 2px solid rgba(218, 234, 240, 0.473);
    border-radius: 20%;
    width: 400px;
    margin:  100px   auto;
    background-color: rgba(235, 196, 196, 0.205);
}

.card img{
    margin-top: 5px;
    height: 250px;
}

.card p{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.card h3{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgba(228, 201, 201, 0.205);
    max-width: 100vw;
    max-height: 100vh;
}

body{
    /* background-image: url('/backgrounds/bg.jpg'); */
    opacity: 51;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(189, 186, 184, 0.075);
    overflow-x: hidden;
}
.logo img{
    height: 60px;
    width: 60px;
    filter: invert();
    margin-left: 30px;
    border-radius: 2xp solid black;
    border-radius: 35%;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
}

.list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -20px;
}
.list li{
    list-style: none;
}
.list li a{
    font-weight: bold;
}
.item{
    list-style: none;
    margin: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(199, 199, 199, 0.658) ;
    position: sticky;
    /* overflow-x: hidden; */
}
.menus{
    height: 100%;
}
.register{
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}
.menu{
    display: none;
}
@media only screen and (max-width:650px){
    .menu{
        display: block;
        margin-right: 25px;
    }
    nav{
        display: none;
    }
    .list{
        display: none;
    }
    .resp{
        background-color: none;
        height: 200px;
        max-width: 100%;
    }
    .respo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: -80%;
    }
    .margin{
        margin-bottom: 115px;
        line-height: 40px;
    }
    .opa{
        opacity: 0;
    }
    .mtop{
        margin-top: 10px;
    }
}