body{
    background-color: rgba(245, 241, 205, 0.13);
}
.form{
    height: 500px;
    width: 500px;
    margin: auto;
    border: 2px solid rgba(245, 241, 205, 0.336);
    text-align: center;
    box-shadow: rgba(212, 208, 170, 0.336);
    border-radius: 8%;
    background-color: rgba(212, 208, 170, 0.336);
}
form{
    margin-top: 55px;
    height: 100%;
    width: 100%;
}

input,textarea{
    width: 350px;
    border: 2px solid black;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
}
button{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(177, 169, 169);
    transform: rotate(10deg);
}

input,textarea::placeholder{
    padding: 10px;
    color: gray;
}

h3{
    text-align: center;
    font-size: 1.8rem;
}
.menu{
    display: none;
}
body{
    /* background-image: url('/backgrounds/bg.jpg'); */
    opacity: 51;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(189, 186, 184, 0.075);
    overflow-x: hidden;
}
.logo img{
    height: 60px;
    width: 60px;
    filter: invert();
    margin-left: 30px;
    border-radius: 2xp solid black;
    border-radius: 35%;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
}

.list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -20px;
}
.list li{
    list-style: none;
}
.list li a{
    font-weight: bold;
}
.item{
    list-style: none;
    margin: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(199, 199, 199, 0.658) ;
    position: sticky;
    /* overflow-x: hidden; */
}
.menus{
    height: 100%;
}
.register{
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}
.menu{
    display: none;
}
@media only screen and (max-width:650px){
    .menu{
        display: block;
        margin-right: 25px;
    }
    nav{
        display: none;
    }
    .list{
        display: none;
    }
    .resp{
        background-color: none;
        height: 200px;
        max-width: 100%;
    }
    .respo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: -80%;
    }
    .margin{
        margin-bottom: 115px;
        line-height: 40px;
    }
    .opa{
        opacity: 0;
    }
    .mtop{
        margin-top: 10px;
    }
}