body{
    background-color: rgba(228, 201, 201, 0.205);
    max-height: 100vh;
    max-width: 100vw;
}
form{
    border: 5px solid rgba(228, 201, 201, 0.205);
    height: 500px;
    width: 450px;
    margin:  100px auto;
    box-shadow: rgba(228, 201, 201, 0.205);
    border-radius: 10%;
    background-color: rgba(228, 201, 201, 0.205);
}

input{
    margin: 15px 28px;
    padding: 6px;
    width: 75%;
    font-size: 1rem;
}

button{
    margin-top: 10px;
    text-align: center;
    height: 100%;
    width: 22%;
    margin-left: 30%;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(122, 119, 115);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: aliceblue;
    transform: rotate(10deg);
}
h2{
    text-align: center;
}

input [type="checkbox"]{
    font-size: 5px;
}

body{
    /* background-image: url('/backgrounds/bg.jpg'); */
    opacity: 51;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(189, 186, 184, 0.075);
    overflow-x: hidden;
}
.logo img{
    height: 60px;
    width: 60px;
    filter: invert();
    margin-left: 30px;
    border-radius: 2xp solid black;
    border-radius: 35%;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
}

.list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -20px;
}
.list li{
    list-style: none;
}
.list li a{
    font-weight: bold;
}
.item{
    list-style: none;
    margin: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(199, 199, 199, 0.658) ;
    position: sticky;
    /* overflow-x: hidden; */
}
.menus{
    height: 100%;
}
.register{
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}
.menu{
    display: none;
}
@media only screen and (max-width:650px){
    .menu{
        display: block;
        margin-right: 25px;
    }
    nav{
        display: none;
    }
    .list{
        display: none;
    }
    .resp{
        background-color: none;
        height: 200px;
        max-width: 100%;
    }
    .respo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: -80%;
    }
    .margin{
        margin-bottom: 115px;
        line-height: 40px;
    }
    .opa{
        opacity: 0;
    }
    .mtop{
        margin-top: 10px;
    }
}