*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: min(1rem,22px);
}
body{
    background-image: url('/backgrounds/bg.jpg');
    opacity: 51;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
    min-width: 100vw;
    background-color: rgba(189, 186, 184, 0.075);
    overflow-x: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(199, 199, 199, 0.658) ;
    position: sticky;
}
.paragraph{
    max-width: 100vw;
    max-height: 100vh;
}
.logo img{
    height: 70px;
    width: 70px;
    filter: invert();
    margin-left: 30px;
    border-radius: 2xp solid black;
    border-radius: 35%;
    cursor: pointer;
}

.list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -850px;
}
.list li{
    list-style: none;
}
.list li a{
    font-weight: bold;
}
.item{
    list-style: none;
    margin: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

section{
    max-height: 100%;
    max-width: 100%;
    margin-top: 20%;
    /* margin-left: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    text-align: center;
    color: black;
    font-size: 1.8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 35px;
}
.para{
    max-width: 100vw;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    color: black;
    font-size: calc(1.3 * 1rem);
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    margin: 15px 15px;
    display: flex;
    justify-content: center;
}
.btn button{
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    background-color: grey;   
}

.btn button a{
    text-decoration: none;
    color: white;
}
.btn button:hover{
    background-color: black;
    transform: rotate(15deg);
}
.btn button a:hover{
    color: white;
    background-color: black;
}
.menus{
    height: 100%;
}
.menu{
    display: none;
}
.margin{
    margin: 10px;
}
.register{
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}
@media only screen and (max-width: 1500px) {
    .title{
        font-size: 1.5rem;
    }
    .para{
        text-align: center;
        font-size: 20px;
    }
    .btn button{
        font-size: 0.8rem;
    }
    .menu{
        display: none;
    }
    .list{
        margin-right: -50px;
    }
    section{
        margin-top: 20%;
    }
}

@media only screen and (max-width: 650px){
    .title{
        font-size: 1.2rem;
    }
    .para{
        text-align: center;
        font-size: 15px;
    }
    section{
        justify-content: center;
        align-items: center;
    }
    .list{
        display: none;
    }
    .menu{
        display: block;
        margin: auto;
    }
    .logo img{
        height: 50px;
        width: 50px;
    }
    .menu{
        height: 25px;
        margin-right: 15px;
    }
    .resp{
        background-color: none;
        height: 200px;
        max-width: 100%;
    }
    .respo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: -80%;
    }
    .margin{
        margin-bottom: 115px;
        line-height: 40px;
    }
    .opa{
        opacity: 0;
    }
    section{
        margin-top: 35%;
    }
    .mtop{
        margin-top: 10px;
    }
    .title{
        /* color: white; */
        font-weight: 800;
    }
}

@media only screen and (max-width: 450px){
    .title{
        font-size: 1rem;
        font-weight: 500;
    }
    .para{
        text-align: center;
        font-size: 10px;
    }
    .btn button{
        font-size: 0.6rem;
    }
}